/* Styles for contact-form.component.css */
.contact-form-main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    margin-left: 64px;
}

.contact-form-comp{
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
  }

  label {
    display: inline-block;
    width: 64px;
    text-align: left;
    margin: 12px;
  }​
  
  input {
    width: 300px !important;
  }
  
  button {
    align-self: flex-end;
  }

  .error-field {
    color: red;
    margin-left: 88px;
  }

  .required-symbol {
    color: red;
  }

  .btn-grouping {
    display: flex;
    justify-content: flex-end;
  }