<div class="contact-form-main">
  <mat-card>
    <mat-card-content>
      <h1>Contact Form</h1>
      <div class="contact-form-comp">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <div>
            <label for="name">Name <span class="required-symbol">*</span></label>
            <input id="name" class="input-field" formControlName="name" required />
            <div class="error-field"
              *ngIf="contactForm.controls.name.errors?.required && contactForm.controls.name.touched">
              Name is required.
            </div>
          </div>
          <div>
            <label for="phone">Phone <span class="required-symbol">*</span></label>
            <input id="phone" class="input-field" formControlName="phone" required />
            <div class="error-field"
              *ngIf="contactForm.controls.phone.errors?.required && contactForm.controls.phone.touched">
              Phone is required.
            </div>
            <div class="error-field"
              *ngIf="contactForm.controls.phone.errors?.pattern && contactForm.controls.phone.touched">
              Phone must be 10 digits.
            </div>
          </div>
          <div>
            <label for="email">Email <span class="required-symbol">*</span></label>
            <input id="email" class="input-field" formControlName="email" required />
            <div class="error-field"
              *ngIf="contactForm.controls.email?.errors?.required && contactForm.controls.email.touched">
              Email is required.
            </div>
            <div class="error-field"
              *ngIf="contactForm.controls.email?.errors?.email && contactForm.controls.email.touched">
              Email must be valid.
            </div>
          </div>
          <div class="btn-grouping">
            <button mat-stroked-button color="primary" style="margin-right: 4px;" (click)="redirectToList()">List</button>
            <button mat-flat-button color="primary" type="submit" [disabled]="!contactForm.valid">Submit</button>
          </div>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
</div>