<!-- contact-list.component.html -->
<div class="contact-list-comp">
    <button (click)="onAddContact()" mat-flat-button color="primary">Add Contact</button>
  
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- ID Column -->
      <!-- <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let contact">{{ contact.id }}</td>
      </ng-container> -->
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let contact">{{ contact.name }}</td>
      </ng-container>
  
      <!-- Phone Column -->
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
        <td mat-cell *matCellDef="let contact">{{ contact.phone }}</td>
      </ng-container>
  
      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let contact">{{ contact.email }}</td>
      </ng-container>
  
      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let contact">
          <button mat-button color="primary" (click)="editContact(contact.id)">Edit</button>
          <button mat-button color="warn" (click)="deleteContact(contact.id)">Delete</button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator
      [length]="50"
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 20]">
    </mat-paginator>
  </div>