* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
  
  /* Styles for contact-list.component.css */
  table {
    width: 100%;
  }
  
  button {
    margin-right: 1rem;
    padding: 8px;
  }

  .contact-list-comp{
    padding: 48px;
  }